<div class="container-fluid">
    <img src="/images/bookcase.jpg" alt="" class="img-fluid" id="home-img">
    <h1>Welcome to the International Book Database!</h1>
    <p>Here you can find all the information about some of the books in jelles bookcase.</p>
</div>